@import '~antd/lib/style/themes/default.less';

@pro-table-prefix-cls: ~'@{ant-prefix}-wt-pro-table';

.@{pro-table-prefix-cls} {
  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .resizable-handle {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
  }
}
